[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
scikit-image = "*"
matplotlib = "*"
nibabel = "*"
numpy = "*"
jupyter = "*"
lab = "*"
opencv-python = "*"
scikit-learn = "*"

[dev-packages]

[requires]
python_version = "3.11"
